/*CSS reset settings here*/
*{
  margin: 0px;
  padding: 0px;
 }
 #wrapper{
  width: 950px;
  background-color: silver;
  margin: 20px auto;
  padding: 10px;
 }
 #header{
   min-height: 150px;
   background-color: green;
   margin: 10px;
 }
 #navigation{
  min-height: 300px;
  width: 200px;
  background-color: blue;
  margin: 20px 0 0 10px;
  display: inline-block;
}
 #main_content{
  min-height: 400px;
  width: 700px;
  background-color: red;
  padding: 10px 0 0 10px;
  margin: 20px 0 0 10px;
  display: inline-block;
  vertical-align: top;
}
 .subcontents{
  min-height: 200px;
  width: 210px;
  background-color: yellow;
  display: inline-block;
  margin-right: 10px;
 }
 #advertisement{
  min-height: 120px;
  width: 660px;
  background-color: purple;
  margin-top: 20px;
 }